* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

/*BASE*/
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black
}
body {
    font-family: Montserrat;
}


/*LAYOUT*/

.main-layout {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #ff7f00;
    font-size: 1.1875rem;
}

.main-header {
    width: 100%;
    padding: 0 40px
}

.gallery {
    margin-bottom: 40px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px , 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px , 1fr));
    gap: 10px
}
img.item {
    width: 100%;
}
img.item:hover {
    transform: scale(1.1)
}

/*ABOUT*/
.about {
    margin: 20px;
    display: none
}
.user-gallery{
    margin: 20px;
    display: none
}
/*HEADER*/
.logo {
    flex-grow: 1;
}
.logo-img {
    width: 130px;
}
.nav {
    flex-grow: 1;
    justify-content: flex-end;
}
.nav li{
    padding: 20px;
}

.nav li a {
    color: #ffffff;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*MAIN*/
main {
    background-color: #e3e3e3;
    padding: 20px 40px;
}
.editor {
    gap: 40px;
    display: flex;
    display: none 
}

canvas {
    border: 1px solid black;
    display: block;
}
.settings {
    padding-right: 20px
}
/*settings*/
.controls-container {

    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
    "text text text text text"
    " . add . delete . "
    ". . . . ."
    "Ap Am al-left al-cent al-right"
    " . up italic bold case"
    "left down right color colorStr"
    "download download download download download"
    ;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(7, 40px);
}
.item1 {
grid-area: text;
}
.item2 {
    grid-area: add;
}
.item3 {
    grid-area: delete;
}
.item4 {
    grid-area: Ap;
}
.item5 {
    grid-area: Am;
}
.item6 {
    grid-area: al-left;
}
.item7 {
    grid-area: al-cent;
}
.item8 {
    grid-area: al-right;
}
.item9 {
    grid-area: up;
}
.item10 {
    grid-area: left;
}
.item11 {
    grid-area: down;
}
.item12 {
    grid-area: right;
}
.item13 {
    grid-area: italic;
}
.item14 {
    grid-area: bold;
}
.item15 {
    grid-area: case;
}
.item16 {
    grid-area: color;
}
.item17 {
    grid-area: colorStr;
}

.controls-container input[type=text] {
    border-radius: 0.75rem;
    outline: none;
    border: #ffffff;
    padding: 10px
}
.controls-container button {
    background-color: #ffffff;
    border-radius: 0.75rem;
    outline: none;
    border: #ffffff;
}
button img {
    width: 100%;
}
.item9 img, .item11 img {
    height: 100%;
}
button.download {
    font-family: Montserrat;
    background-color: #ff7f00;
    grid-area: download;
}
form button.btn{
    margin-top: 10px;
    border-radius: 0.75rem;
    outline: none;
    border: #ffffff;
    height: 40px;
    width: 100%;
    font-family: Montserrat;
    background-color: #ff7f00;
}
.share-container {
    margin-top: 10px;
    border-radius: 0.75rem;
    outline: none;
    border: #ffffff;
    line-height: 40px;
    width: 50%;
    text-align: center;
    background-color: #f8c38d;
    vertical-align: middle;
}

/*FOOTER*/
footer {
    height: 200px;
    text-align: center;
    padding: 80px;
    color: white
}


/* HELPERS */
/* flex-helpers */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column
}
.flex.align-center {
    align-items: center;
}
.flex.space-between {
    justify-content: space-between;
}

/* list-helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 895px) {
    .controls-container {
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(6, 40px);
        grid-template-areas: 
    "text text text text text"
    " . add . delete . "
    "Ap Am al-left al-cent al-right"
    " . up italic bold case"
    "left down right color colorStr"
    "download download download download download"
    ;
    }
}
@media (max-width: 795px) {
    .editor {
        flex-direction: column
    }
    .canvas-container {
        margin: auto
    }
    .settings {
        margin: auto
    }
    .controls-container {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    }
    form button.btn{
        height: 50px;
    }
}